format = """
$username\
$hostname\
$directory\
$shlvl\
$kubernetes\
$git_branch\
$git_commit\
$git_state\
$env_var\
$cmd_duration\
$line_break\
$jobs\
$battery\
$time\
$status\
$character"""

[directory]
truncation_length = 8
truncate_to_repo = false
# use_logical_path = false

[hostname]
ssh_only = false
format =  "@[$hostname](blue) "
trim_at = ".companyname.com"
disabled = false

[username]
style_user = "white bold"
style_root = "black bold"
format = "[$user]($style)"
disabled = false
show_always = true

[kubernetes]
format = 'on [⛵ $context \($namespace\)](dimmed green) '
disabled = false

[git_branch]
symbol = " "
format = "[$symbol$branch]($style) "
